.simple-glow-container {
  width: 100%;
}

.simple-glow-card {
  height: fit-content;
  cursor: pointer;
  border: 1px solid var(--border-hero-right);
  position: relative;
  background-color: var(--glow-card-background);
  color: var(--text-white-1);
  border-radius: 0.75rem;
  width: 100%;
  transition: background-color 0.2s ease; /* Hiệu ứng hover mượt mà, nhẹ nhàng */

  &:hover {
    background-color: var(
      --glow-card-hover-background,
      rgba(255, 255, 255, 0.05)
    ); /* Màu nền nhạt hơn khi hover */
    border: 2px 2px;
  }
}

.experience-container {
  .duration-text {
    display: flex;
    justify-content: center;

    p {
      color: var(--text-pink-100);
      margin: 0;
      font-weight: 600;
    }
  }

  .details {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem 0.75rem;

    .icon {
      color: #8b5cf6;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.25);
      }

      img {
        width: 36px;
        height: 36px;
        object-fit: cover;
      }
    }

    .info {
      p {
        margin-bottom: 0.5rem;
        font-weight: 500;
        text-transform: uppercase;

        &.title {
          font-size: 1rem;
        }

        &.company {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .simple-glow-card {
    border: 1px solid var(--border-hero-right);
    padding: 0px;
    transition: none; /* Tắt transition trên mobile để tối ưu */
  }

  .simple-glow-card:hover {
    background-color: var(
      --glow-card-background
    ); /* Không thay đổi màu khi hover trên mobile */
  }
}

.selected-job-card {
  border-radius: 0.75rem;
  border: 1px solid var(--selected-job-card) !important; // Dùng !important để đảm bảo được ưu tiên
  box-shadow: 0 0 10px var(--selected-job-card) !important;
}
