//variable.scss
// $grey-100: #eee;

:root {
  --glow-1: #ffc400;
  --glow-2: #ff9100;
  --glow-3: #ff530f;
  --border-inactive: var(--border-input-search);
  --input-background: var(--background-input-search);
  --text-color: #e1dfdf;
  --brand-social-rgb: 236, 72, 153;

  /* THÊM CÁC BIẾN MÀU MỚI TỪ FILE MẪU */
  --capra-ramp-1: #ffc400;
  --capra-ramp-2: #ff9100;
  --capra-ramp-3: #ff530f;
  --capra-ramp-4: #e62c6d; /* Màu mới */
  --capra-ramp-5: #b25aff; /* Màu mới */
}
$light-theme: (
  linear-gradient-blue-purple: linear-gradient(90deg, #1b74ff, #a880ff 96.79%),
  text-tilte-newjob: black,
  background-dropdown-search: white,
  background-input-search: #e3dddd,
  background-file-search: #bd21b8,
  border-input-search: rgba(15, 15, 15, 0.75),
  background-body: #fff,
  background-body-tertiary: #f8f9fa,
  text-color-nobackground: #fff,
  text-title-managecv: black,
  scroll-track-background: "#fff",
  scroll-thumb-background: "#ccc",
  scroll-thumb-hover: "#9e9e9e",
  brand-social-rgb: rgb(236, 72, 153),
  brand-name-100: black,
  brand-name-200: black,
  brand-name-300: black,
  brand-name-400: black,

  brand-social: #ec4899,
  option-skill-managecard: #28b7fe63,
  border-hero-right: #494545,
  background-hero-right: "linear-gradient(to right, #fff, #eee)",
  border-top-hero-right:
    "linear-gradient(to right, transparent, #fff, #fff, transparent)",

  text-red-500: #f96f73,
  text-yellow-500: #fa9348,
  text-green-500: #b6f9d2,
  text-green-700: #56b10e,
  text-pink-100: #ec4899,
  text-pink-200: #bd21b8,
  text-blue-100: #1dd2ec,
  text-white: #000,
  text-gray: rgb(92, 91, 91),
  line-blue-500: #1a1443,
  resize-button: "linear-gradient(to right, #ec4899, #8b5cf6)",
  glow-card-background: #e6e8ec,
  skill-card-background: #f5f6f7,
  border-top-skill-card:
    "linear-gradient(to right, transparent, #fff, #fff, transparent)",
  linear-gradient-blue-purple-company: black,
);

$dark-theme: (
  linear-gradient-blue-purple: linear-gradient(90deg, #1b74ff, #a880ff 96.79%),
  linear-gradient-blue-purple-company: linear-gradient(
      90deg,
      #1b74ff,
      #a880ff 96.79%
    ),
  option-skill-managecard: #ff5411da,
  brand-social-rgb: rgb(236, 72, 153),
  background-file-search:
    "linear-gradient(to right, transparent,#8b5cf6, #8b5cf6, transparent)",
  background-dropdown-search: #252530,
  background-input-search: #1f1f1f,
  border-input-search: #3e3e3e,
  text-color-nobackground:
    "linear-gradient(to right, transparent, #ec4899, #8b5cf6, transparent)",
  text-tilte-newjob: #ff4da6,
  text-title-managecv: linear-gradient(
      -45deg,
      var(--capra-ramp-2) 10%,
      var(--capra-ramp-2) 35%,
      var(--capra-ramp-3) 70%,
      var(--capra-ramp-4) 100%
    ),
  background-body: #0d1224,
  // background-body-tertiary : transparent,
  background-body-tertiary: #11152c,
  scroll-track-background: "#0d1224",
  scroll-thumb-background: "#606060",
  scroll-thumb-hover: "#d6d6d6",
  brand-name-100: #16f2b3,
  brand-name-200: #ec4899,
  brand-name-300: #ec4899,
  brand-name-400: #ffa304,
  brand-social: #ff4da6,

  border-hero-right: #ff6404,
  background-hero-right: "linear-gradient(to right, #0d1224, #0a0d37)",
  border-top-hero-right:
    "linear-gradient(to right, transparent, #ec4899, #8b5cf6, transparent)",

  text-red-500: #f96f73,
  text-yellow-500: #fa9348,
  text-green-500: #b6f9d2,
  text-green-700: #56b10e,
  text-pink-100: #ec4899,
  text-pink-200: #bd21b8,
  text-blue-100: #1dd2ec,
  text-white: #fff,
  text-gray: rgb(212, 207, 207),
  line-blue-500: #1a1443,
  resize-button: "linear-gradient(to right, #ec4899, #8b5cf6)",

  glow-card-background: #101123,
  skill-card-background: #11152c,
  border-top-skill-card:
    "linear-gradient(to right, transparent,#8b5cf6, #8b5cf6, transparent)",
);

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
}

[data-bs-theme="dark"] {
  @each $name, $color in $dark-theme {
    --#{$name}: #{$color};
  }
  --brand-social-rgb: 255, 77, 166;
}
